/* .magic-button.dark-unique {
  --background: #242836;
  --rectangle: #1C212E;
  --arrow: #F5F9FF;
  --text: #F5F9FF;
  --success: #2F3545;
  --shadow: rgba(10, 22, 50, .24);
}

.magic-button {
  --background: #275efe;
  --rectangle: #184fee;
  --success: #477ef5;
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform .2s ease, box-shadow .2s ease;
}

.magic-button:active {
  transform: scale(.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}

.magic-button .magic-texts {
  margin: 0;
  padding: 16px 40px;
  list-style: none;
  text-align: center;
  position: relative;
  backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
}

.magic-button .magic-texts li:not(:first-child) {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
}

.magic-button .magic-texts li:nth-child(2) {
  top: 76px;
}
.magic-button .magic-texts li:nth-child(3) {
  top: 136px;
}

.magic-button .magic-icon {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--rectangle);
}

.magic-button .magic-icon::before,
.magic-button .magic-icon::after {
  content: '';
  position: absolute;
  display: block;
}

.magic-button .magic-icon::before {
  border-radius: 1px;
  width: 2px;
  height: 17px;
  background: var(--arrow);
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -1px;
}

.magic-button .magic-icon::after {
  width: 60px;
  height: 60px;
  transform-origin: 50% 0;
  border-radius: 0 0 80% 80%;
  background: var(--success);
  top: 0;
  left: 0;
  transform: scaleY(0);
}

.magic-button .magic-icon svg {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -10px;
  fill: none;
  stroke-width: 2px;
  stroke: var(--arrow);
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 1;
}

@keyframes text-unique {
  10%, 85% {
    transform: translateY(-100%);
  }
  95%, 100% {
    transform: translateY(-200%);
  }
} */
